<form action="/folder/add" method="post">
  <label for="foldername">Folder name</label>
  <input type="text" name="foldername" id="foldername" />
  <input type="hidden" name="folderId" value="<%= folderId %>" />
  <button type="submit">Add folder</button>
</form>
