<header>
  <h1><%= title %></h1>
  <div>
    <button><a href="/">Home</a></button>
    <% if (currentUser) { %>
    <button><a href="/logout">Logout</a></button>
    <% } else { %>
    <button><a href="/login">Login</a></button>
    <button><a href="/sign-up">Sign up</a></button>
    <% } %>
  </div>
</header>
